
.allBackground{
    height: 90em;
}

.supportBtn {
    background-color: blueviolet;
    color: white;
    width: 10em;
    height: 3em;
    border-radius: 8px;
    width: 188px;
    margin-top: 15px;
    float: right;
    margin-right: 2em;
}

.landImg{
   
    width: 52%;
    margin-left: 25%;
}

.sect2{
    position: relative;
    margin-top: 14em;
    margin-left: 4em;
}

.tx1{
    color: white;
}
.tx12{
    color: white;
    font-size: 30px;
    text-align: justify;
}

@media only screen and (max-width: 390px){
	.tx12{
        color: white;
        text-align: justify;
        font-size: small;
    }
}

.imgs{
    width: 500px;
}

.bottonGradient{
    background-image: linear-gradient(96.64deg, #8F01FC -1.68%, rgba(48, 17, 237, 0) 111.25%);
    width: 14em;
    color: white;
    height: 3em;
    margin-top: 1em;
    border-radius: 7px;

} 

.tokentxt{
    color: #FFE700;
    font-size: 14px;
}



/* media screeen alone */
@media only screen and (max-width: 390px){
	.tx12{
        color: white;
        text-align: justify;
        font-size: small;
    }

    .bottonGradient{
        background-image: linear-gradient(96.64deg, #8F01FC -1.68%, rgba(48, 17, 237, 0) 111.25%);
        width: 10em;
        color: white;
        height: 3em;
        margin-top: 1em;
        border-radius: 7px;
        
    }
}